.updatePasswordContainer{ 
    width: 100vw;  
   height: 100vh ;  
    max-width:100% ;   
    display : flex ; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 241, 241); 
    top:0% ; 
    left:0 ; 

}  
.updatePasswordBox{ 
    background-color: white;
    width: 25vw ; 
    height: 70vh ;   
    box-sizing: border-box ;
    overflow : hidden ; 

}  
.updatePasswordBox > div > button {
      background-color: tomato;
      height : 3px ; 
      width: 50% ; 
      border : none ; 
      transition: all 0.5s ; 
}  

.updatePasswordForm{  
    display: flex ; 
    flex-direction: column;
    margin:quto ;  
    justify-content: center;   
    justify-content: space-evenly; 
    align-items: center;  
    padding: 2vmax;  
    height: 70% ;  
    transition: all 0.5s ;


}

.updatePasswordForm> div{  
    display: flex ; 
    width: 100% ; 
    align-items: center;
} 

.updatePasswordForm> div > input{  
     padding : 1vmax 4vmax ;      
     padding-right : 1vmax; 
     width: 100% ; 
     box-sizing  : border-box ;  
     border: 1px solid rgba(0 , 0 , 0 , 0.267) ; 
     font : 300 0.9vmax  cursive ; 
     outline : none ; 
}  

.updatePasswordForm > div > svg{ 
     position : absolute ; 
     transform: translateX(1vmax);    
     font-size: 1.6vmax ; 
     color : rgba(0 , 0 , 0 , 0.651) ;
} 

.updatePasswordBtn{ 
   border: none; 
   background-color : rgb(48, 203, 255) ; 
   color : white; 
   font : 300 0.9vmax "Roboto" ; 
   width : 100%  ; 
   padding : 0.8vmax ; 
   cursor : pointer ; 
   transition:all 0.5s ; 
   border-radius : 4px ;  
   outline: none ;   
   box-shadow: 0 2px 5px rgba(0 , 0 , 0 , 0.219);
}  
.updatePasswordForm{  
      transForm: translateY(0%) ; 
}  
.updatePasswordBtn:hover{ 
    background-color: blue;
}  

.updatePasswordHeading{   
    text-align:center ;
    font:400 1.3vmax "Roboto";     
    color : rgba(0 , 0,  0, 0.664) ;
    padding: 1.3vmax; 
    border-bottom: 1px solid rgba(0 , 0 , 0 , 0.204) ;
    width: 50%; 
    margin: auto; 




}
#updatePasswordImage > img{ 
       width : 3vmax ; 
       border-radius : 100% ;     
}
#updatePasswordImage > input{ 
    display :flex ; 
    padding : 0% ; 
}  
#updatePasswordImage > input::file-selector-button{
     cursor: pointer ; 
     width: 100% ; 
     z-index : 2 ; 
     height:5vh ; 
     border: none ; 
     margin : 0% ; 
     font : 400 0.8vmax cursive ; 
     transition : all 0.5s ; 
     padding : 0.1vmax;    
     color:rgba(0, 0, 0, 0.587)  ; 
     background-color: rgb(230, 230, 230);

}  


#updatePasswordImage > input::file-selector-button:hover{

      background-color : rgb(235 ,235 , 235);
} 


@media screen and (max-width=600px) { 
    .updatePasswordContainer{ 
        background-color : white ; 

    }  
    .updatePassword{ 
         width: 100vw ; 
         height: 95vh ; 
    }
      
    .updatePasswordForm{ 
         padding:5vmax ;
    }
    
    .updatePasswordForm > div > input  { 
         padding:2.5vmax 5vmax ;
         font: 300 1.7vmax cursive ; 
    }  
    
    .updatePasswordForm > div > svg  { 
         font-size : 2.8vmax ; 
    }   
         
    #updatePasswordImage > img{ 
           width: 8vmax ; 
           border-radius : 100% ; 
    }
    #updatePasswordImage > input::file-selector-button{
        height: 7vh ; 
        font: 400 1.8vmax cursive ;

    }  
    .updatePasswordBtn{ 
        font : 300 1.9vmax "Roboto" ; 
        padding : 1.8vmax; 
    }

}
